#created-by {
  text-align: right;
  margin-top: 10px;
  color: #1A1A1D;
  font-size: 0.9em;
}

.home-info {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #C1C8E4;
  padding: 15px 15px;
}

.home-info p {
  margin-bottom: 10px;
  color: #1A1A1D;
  font-size: 1.3125rem;
  font-weight: 500;
}

.home-info h2 { 
  background:#123C69;
  color: #FFFFFF;  
  display:inline-block;
  padding: 3px 15px;
}

.home-info ul { 
  list-style-type:none;
}

.home-info li { 
  padding: 5px 10px;
}

.home-logo {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #FFFFFF;  
}

@media (min-width: 512px) {
  .home-logo {	
    padding: 5px 5px;
  }
}
